@model ThreadShare.DTOs.Entites.PostDetailsViewModel

@{
    ViewData["Title"] = Model.Post.Title;
}

<h1>@Model.Post.Title</h1>
<p>@Model.Post.Body</p>
<p><strong>Forum:</strong> @Model.Forum.Name</p>
<p><strong>Posted by:</strong> @Model.Username</p>

<h2>Comments</h2>
@foreach (var comment in Model.Comments)
{
    <div class="comment">
        <p>@comment.Body</p>
        <p><strong>Posted by:</strong> @comment.User.UserName on @comment.DateCreated.ToString("g")</p>
    </div>
}
<h2>Add a Comment</h2>
<a href="/Comment/Create?postId=@Model.Post.Id&forumId=@Model.Forum.Id" class="btn btn-primary">Create Comment</a>



